
<!-- <button (click)="goBack()">Back</button> -->
<a href="/timesheets?q={{WeekEnding | date:'yyyy-MM-dd'}}">Week View</a>
<table class="table">
  <thead>
    <th scope="col">ProjectCode</th>
    <th scope="col">Task</th>
    <th scope="col">Status</th>
    <th scope="col">Date</th>
    <th scope="col">Hours</th>
    <th scope="col">Delete</th>
    <th scope="col">Detail</th>
  </thead>  
  <tbody>

<tr *ngFor="let timesheet of timesheets, let i = index">
      <td>{{timesheet.ProjectCode}}</td>
      <td>{{timesheet.TaskUID}}</td>
      <td>{{timesheet.StatusCode}}</td>
      <td>{{timesheet.TimeEntryDate | date:'dd/MM/yyyy'}}</td>
      <td>
        <input id={{timesheet.TimeID}} [(ngModel)]="timesheet.StandardHours" [disabled] = "timesheet.StatusCode!='N'"
        (change)="saveTimeSheet(timesheet)" size="4" />        
      </td>
      <td><button id={{timesheet.TimeID}} [hidden] ="timesheet.StatusCode!='N'" (click)="deleteTime(timesheet)">Delete</button></td>
      <td><button>Detail</button></td>
    </tr>      
    </tbody>    
</table>


