<h1>TimeSheet</h1>
<a href="/timelist?q={{WeekEndingDate}}">Time List View</a><br />
<button name="backward" (click)="goBackward()">&lt;&lt;</button><button name="forward" (click)="goForward()">&gt;&gt;</button><div>{{WeekEndingDate}}</div>
<table class="table">
  <thead>
    <th scope="col">ProjectCode</th>
    <th scope="col">Task</th>
    <th scope="col">Status</th>
    <th scope="col">Monday</th>
    <th scope="col">Tuesday</th>
    <th scope="col">Wednesday</th>
    <th scope="col">Thursday</th>
    <th scope="col">Friday</th>
    <th scope="col">Saturday</th>
    <th scope="col">Sunday</th>
    <th></th>
    <th></th>
  </thead>
  
  <tbody>

  <!-- <tr *ngFor="let timesheet of timesheets">
      <td>{{timesheet.ProjectCode}}</td>
      <td>{{timesheet.TaskUID}}</td>
      <td><app-timesheet [timesheet]="timesheet"></app-timesheet></td>
      <td></td>      
      <td></td>      
      <td></td>      
      <td></td>      
      <td></td>      
      <td></td>      
    </tr>  -->
    
      <tr *ngFor="let time of timeentries">
        <td>{{time.ProjectCode}}</td>
        <td>{{time.TaskUID}}</td>
        <td>{{time.StatusCode}}</td>
        <td><app-timesheet [timesheet]="time.Mon"></app-timesheet></td>
        <td><app-timesheet [timesheet]="time.Tue"></app-timesheet></td>
        <td><app-timesheet [timesheet]="time.Wed"></app-timesheet></td>
        <td><app-timesheet [timesheet]="time.Thu"></app-timesheet></td>
        <td><app-timesheet [timesheet]="time.Fri"></app-timesheet></td>
        <td><app-timesheet [timesheet]="time.Sat"></app-timesheet></td>
        <td><app-timesheet [timesheet]="time.Sun"></app-timesheet></td>
      </tr>
    </tbody>

</table>

