<h1>TimeSheet</h1>

<!-- <a href="/timelist?q={{WeekEndingDate | date:'yyyy-MM-dd'}}">Detail View</a><br /> -->
<button (click)="toggleView()">{{weekview?"Detail View":"Week View"}}</button>

<span *ngIf="weekview==true">  

<button name="backward" (click)="goBackward()">&lt;&lt;</button><button name="forward" (click)="goForward()">&gt;&gt;</button>
<div>Week Ending: {{WeekEndingDate | date:'mediumDate'}} / Total Hours: {{weekdayHours[0]  | number : '1.2-2' }}</div>

<select [(ngModel)]="ProjectCode" (change)="selectProject($event.target.value)">
    <option *ngFor='let proj of myProjects' [value]="proj.ProjectCode">{{ "(" + proj.ProjectCode + ")." + proj.ProjectName}}</option>
  </select>
  <select [(ngModel)]="TaskUID">
    <option *ngFor='let task of ProjectTaskList' [value]="task.TaskUID">{{ "[" +  task.TaskUID + "]." + task.TaskName}}</option>
  </select> 
  <button [hidden]="TaskUID==null" (click)="AddTime()">Add</button>
  
<table class="table">
  <thead>
    <th scope="col">ProjectCode</th>
    <th scope="col">Task</th>
    <th scope="col">Status</th>
    <th scope="col">{{subtractDateTime(WeekEndingDate,6) | date:'dd/MM' }}</th>
    <th scope="col">{{subtractDateTime(WeekEndingDate,5) | date:'dd/MM' }}</th>
    <th scope="col">{{subtractDateTime(WeekEndingDate,4) | date:'dd/MM' }}</th>
    <th scope="col">{{subtractDateTime(WeekEndingDate,3) | date:'dd/MM' }}</th>
    <th scope="col">{{subtractDateTime(WeekEndingDate,2) | date:'dd/MM' }}</th>
    <th scope="col">{{subtractDateTime(WeekEndingDate,1) | date:'dd/MM' }}</th>
    <th scope="col">{{subtractDateTime(WeekEndingDate,0) | date:'dd/MM' }}</th>
  </thead> 
  <tbody>
      <tr *ngFor="let time of timeentries">
        <td>{{time.ProjectCode}}</td>
        <td>{{time.TaskUID}}</td>
        <td>{{time.StatusCode}}</td>
        <!-- <td><app-timesheet [timesheet]="time.Mon"></app-timesheet></td>
        <td><app-timesheet [timesheet]="time.Tue"></app-timesheet></td>
        <td><app-timesheet [timesheet]="time.Wed"></app-timesheet></td>
        <td><app-timesheet [timesheet]="time.Thu"></app-timesheet></td>
        <td><app-timesheet [timesheet]="time.Fri"></app-timesheet></td>
        <td><app-timesheet [timesheet]="time.Sat"></app-timesheet></td>
        <td><app-timesheet [timesheet]="time.Sun"></app-timesheet></td>  -->
        <td><input id="time.Mon.TimeID" attr.data-projectcode="time.Mon.ProjectCode" attr.data-taskuid="time.Mon.TaskUID"  [(ngModel)]="time.Mon.StandardHours" [disabled] = "time.Mon.StatusCode!='N'" (change)="saveTimeSheet(time.Mon)" size="4" /></td>
        <td><input id="time.Tue.TimeID" attr.data-projectcode="time.Tue.ProjectCode" attr.data-taskuid="time.Tue.TaskUID"  [(ngModel)]="time.Tue.StandardHours" [disabled] = "time.Tue.StatusCode!='N'" (change)="saveTimeSheet(time.Tue)" size="4" /></td>
        <td><input id="time.Wed.TimeID" attr.data-projectcode="time.Wed.ProjectCode" attr.data-taskuid="time.Wed.TaskUID"  [(ngModel)]="time.Wed.StandardHours" [disabled] = "time.Wed.StatusCode!='N'" (change)="saveTimeSheet(time.Wed)" size="4" /></td>
        <td><input id="time.Thu.TimeID" attr.data-projectcode="time.Thu.ProjectCode" attr.data-taskuid="time.Thu.TaskUID"  [(ngModel)]="time.Thu.StandardHours" [disabled] = "time.Thu.StatusCode!='N'" (change)="saveTimeSheet(time.Thu)" size="4" /></td>
        <td><input id="time.Fri.TimeID" attr.data-projectcode="time.Fri.ProjectCode" attr.data-taskuid="time.Fri.TaskUID"  [(ngModel)]="time.Fri.StandardHours" [disabled] = "time.Fri.StatusCode!='N'" (change)="saveTimeSheet(time.Fri)" size="4" /></td>
        <td><input id="time.Sat.TimeID" attr.data-projectcode="time.Sat.ProjectCode" attr.data-taskuid="time.Sat.TaskUID"  [(ngModel)]="time.Sat.StandardHours" [disabled] = "time.Sat.StatusCode!='N'" (change)="saveTimeSheet(time.Sat)" size="4" /></td>
        <td><input id="time.Sun.TimeID" attr.data-projectcode="time.Sun.ProjectCode" attr.data-taskuid="time.Sun.TaskUID"  [(ngModel)]="time.Sun.StandardHours" [disabled] = "time.Sun.StatusCode!='N'" (change)="saveTimeSheet(time.Sun)" size="4" /></td>
      </tr>

      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>{{weekdayHours[1] | number : '1.2-2' }}</td>
        <td>{{weekdayHours[2] | number : '1.2-2' }}</td>
        <td>{{weekdayHours[3] | number : '1.2-2' }}</td>
        <td>{{weekdayHours[4] | number : '1.2-2' }}</td>
        <td>{{weekdayHours[5] | number : '1.2-2' }}</td>
        <td>{{weekdayHours[6] | number : '1.2-2' }}</td>
        <td>{{weekdayHours[7] | number : '1.2-2' }}</td>

      </tr>
    </tbody>
</table>

</span>

<span id="detailview" *ngIf="weekview==false">
  <table class="table">
    <thead>
      <th scope="col">ProjectCode</th>
      <th scope="col">Task</th>
      <th scope="col">Status</th>
      <th scope="col">Date</th>
      <th scope="col">Hours</th>
      <th scope="col">Delete</th>
      <th scope="col">Detail</th>
    </thead>  
    <tbody>
  
  <tr *ngFor="let timesheet of timesheets, let i = index">
        <td>{{timesheet.ProjectCode}}</td>
        <td>{{timesheet.TaskUID}}</td>
        <td>{{timesheet.StatusCode}}</td>
        <td>{{timesheet.TimeEntryDate | date:'dd/MM/yyyy'}}</td>
        <td>
          <input id={{timesheet.TimeID}} [(ngModel)]="timesheet.StandardHours" [disabled] = "timesheet.StatusCode!='N'"
          (change)="saveTimeSheet(timesheet)" size="4" />        
        </td>
        <td><button id={{timesheet.TimeID}} [hidden] ="timesheet.StatusCode!='N'" (click)="deleteTime(timesheet)">Delete</button></td>
        <td><button (click)="openModalWin(timesheet)">Detail</button></td>
      </tr>      
      </tbody>    
  </table>
</span>